<div>
        {{#each albums}}
        <img src="{{images.[1].url}}" alt="fotaken">
        <li>{{name}}</li>
        <div>
            <a href="/tracks/{{id}}"><button>View Tracks</button></a>
        </div>
        
        {{/each}}
    
</div>