<div class="background">
    <div class="square-white">
        <form action="/artist-search" method="get">
            <input type="text" name="searchArtist">
            <button class="btn-search">Search the artist</button>
    </div>
        </form>

</div>